Header {
    padding: 0px;
    color: #777777;
    background: #ffffff;
    overflow: auto;
    clear: both;
    border-bottom: 1.3px solid #cccccc;
    width: 100%;
    text-align: right;
    font-family: 'Georgia', Times, Times New Roman, serif;`
}

#logo {
    padding: 25px;
    color: white;
    background: #4aaaa5;
    float: left;
    position: relative;
    left: 200px;
}

#about {
    padding: 25px;
    background: #ffffff;
    margin-top: 35px;
    position: relative;
    left: 200px;
    width: 960px;
    color: #777777;
    border: 1px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#box {
    width: 1200px;
}

footer {
    padding: 15px;
    background: #666666;
    margin-top: 25px;
    color: white;
    text-align: center;
    border-top: 5px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    color: #4aaaa5;
}

body {
    background-image: url('../images/white-waves/white-waves.png');
}

input{
    width: 100%;
}

textarea {
    height: 150px;
    width: 100%;
}